@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,700);
@import url(https://fonts.googleapis.com/css?family=Chivo:400,900);
/*
    Body styling.
 */
body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    background-color: #E7E7E7;
    margin: 0;
    padding: 0;
}
/*
    Header styling including the slogan and the button on the header.
 */
header {
    background-image: url("/assets/img/header_sized.png");
    border-bottom: 5px solid #524656;
    border-top: 5px solid #524656;
    width: 100%;
    height: 500px;
    font-family: "Lato";
    color: #FFFFFF;
}
header .logo {
    display: inline-block;
    position: absolute;
    font-weight: 100;
    top: 10px;
    left: 25px;
    font-size: 15pt;
}
header #slogan {
    text-align: center;
    color: #e7e7e7;
    font-family: Chevo;
    font-size: 40pt;
    width: 100%;
    padding-top: 125px;
}
header .large-button {
    text-transform: uppercase;
    font-size: 8pt;
    border-radius: 4px;
    font-family: "Lato";
    text-align: center;
    color: #FFFFFF;
    font-weight: 700;
    margin: auto;
    margin-top: 325px;
    background-color: #e74c3c;
    border-bottom: 3px solid #c0392b;
    width: 115px;
    padding: 15px 0px;
}
header .large-button:hover {
    cursor: pointer;
    background-color: #c0392b;
    border-bottom: 3px solid #e74c3c;
}
/*
    Navigation styling.
 */
nav {
    float: right;
    clear: both;
    margin-top: 10px;
    text-align: right;
    width: 100%;
}
nav ul {
    padding: 0;
    margin: 0;
}
nav ul li {
    padding: 5px;
    border-radius: 6px;
    list-style-type: none;
    display: inline-block;
    margin-right: 25px;
    text-transform: uppercase;
    text-align: center;
    font-size: 10pt;
    font-weight: 400;
    border: 1px solid #BEBEBE;
    color: #BEBEBE;
    width: 100px;
}
nav ul li:hover {
    cursor: pointer;
    background-color: #BEBEBE;
    color: #524656;
}
nav ul li span.small {
    font-size: 8pt;
    position: relative !important;
    left: 0 !important;
    top: 0 !important;
    color: #FFFFFF;
}
nav ul li a {
    color: inherit;
    text-decoration: none;
}
/*
    Alert styling for the SVG location.
 */
.alerts {
    position: absolute;
    left: 160px;
    top: 13px;
}
.alerts svg:hover {
    cursor: pointer;
}
/*
    Alert panel styling including animation transition.
 */
#alerts {
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
}
#alerts.ng-hide {
    opacity: 0;
}
#alerts ul {
    position: absolute;
    width: 25%;
    top: 30px;
    background-color: #E7E7E7;
    z-index: 2;
    padding: 5px;
    left: 35px;
    height: 350px;
    overflow-x: scroll;
}
#alerts li {
    list-style-type: none;
    color: #323232;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
}
.alert-delete {
    color: #e74c3c;
    margin-right: 5px;
    display: inline-block;
    font-weight: 700;
}
.alert-delete:hover {
    cursor: pointer;
    color: #c0392b;
}
/*
    Styling for the dashboard panels.
 */
.panel {
    margin-top: 5px;
    margin-left: 5px;
    padding: 15px 10px;
    font-size: 10pt;
    background-color: #FFFFFF;
    border: 1px solid #BEBEBE;
    border-radius: 6px;
    min-width: 400px;
}
.panel .header {
    width: 100%;
    height: 15px;
    padding-bottom: 5px;
    text-transform: uppercase;
    font-weight: 700;
    color: #a7a7a7;
    font-size: 9pt;
    border-bottom: 1px solid #E7E7E7;
}
.header span {
    position: absolute;
    margin-top: -1px;
}
#health table {
    width: 100%;
    text-align: center;
    color: #323232;
    font-size: 9pt;
    font-weight: normal;
}
#latest-additions table {
    border-collapse: collapse;
}
#latest-additions table td {
    text-align: center;
    margin: 0 50%;
    width: 33%;
    margin-bottom: 5px;
    padding: 5px;
}
#latest-additions table tr:not(:last-child) {
    border-bottom: 1px solid #E7E7E7;
}
/*
    Button styling.
 */
.button {
    text-transform: uppercase;
    font-size: 8pt;
    border-radius: 4px;
    font-family: "Lato";
    text-align: center;
    color: #FFFFFF;
    font-weight: 700;
    margin: 0 auto;
    margin-top: 5px;
    background-color: #95a5a6;
    border-bottom: 3px solid #7f8c8d;
    width: 75px;
    padding: 5px 0px;
}
.button:hover {
    background-color: #7f8c8d;
    border-bottom: 3px solid #95a5a6;
    cursor: pointer;
}
.delete {
    background-color: #e74c3c;
    border-bottom: 3px solid #c0392b;
}
.delete:hover {
    background-color: #c0392b;
    border-bottom: 3px solid #e74c3c;
    cursor: pointer;
}
#content {
    width: 33%;
    float: left;
}
#inventory {
    margin-right: 5px;
    width: 66.6%;
    display: inline-block;
    float: right;
}
#inventory table {
    width: 100%;
}
#inventory table td {
    width: 50%;
}
/*
    Footer styling.
 */
footer {
    width: 100%;
    height: 25px;
    font-size: 8pt;
    text-align: center;
}
#popup .glass {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.80);
    width: 100%;
    height: auto;
    min-height: 100%;
}
#popup .popup {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -10%;
    margin-left: -225px;
    width: 350px;
    height: 200px;
    background-color: #e7e7e7;
    border: 2px solid #bebebe;
    border-radius: 4px;
    padding: 10px;
}
#popup .x {
    float: right;
    clear: both;
    margin-right: 10px;
    margin-top: -25px;
    font-weight: bold;
    display: inline-block;
}
#popup .x:hover {
    color: #95a5a6;
    cursor: pointer;
}
#popup .header {
    display: inline-block;
    width: 98%;
    height: 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #a7a7a7;
    font-size: 9pt;
    margin-left: 5px;
    margin-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #bebebe;
    float: left;
    clear: both;
}
#popup table {
    width: 100%;
    text-align: left;
}
